<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 📸 CAMERA PERMISSION FOR QR SCANNER -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 📸 CAMERA FEATURE (TO AVOID WARNING) -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Classroom">

        <!-- 🔐 AUTH / ACCOUNT -->
        <activity android:name=".SignupActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".ForgotPasswordActivity" />

        <!-- 🏠 MAIN / HOME -->
        <activity android:name=".ProductActivity" />

        <!-- 📚 OTHER SCREENS -->
        <activity android:name=".JoinClassActivity" />
        <activity android:name=".CreateClassActivity" />
        <activity android:name=".DataReceiveActivity" />
        <activity android:name=".DataSendActivity" />
        <activity android:name=".ColorFragmentsActivity" />

        <activity android:name=".QrScanActivity" />
        <activity android:name=".CustomCaptureActivity" />

        <activity android:name=".ChatActivity" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>

        <!-- 🚀 SPLASH (LAUNCHER) -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
